@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9f1e7; /* bege suave */
  color: #3e2723; /* marrom chocolate escuro */
  font-family: "Inter", sans-serif;
}

.bg-beige {
  background-color: #f9f1e7;
}

.bg-cocoa {
  background-color: #4e342e;
}

.bg-mocha {
  background-color: #6d4c41;
}

.bg-chocolate {
  background-color: #3e2723;
}

.text-chocolate {
  color: #3e2723;
}

.text-creme {
  color: #f9f1e7;
}

.text-latte {
  color: #bca99f;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #bca99f;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #8d6e63;
}

input::placeholder {
  color: #bca99f;
}